body{
  background-color: darkturquoise;
}
#container{
  background-color: darkturquoise;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
#header{
  background-color: turquoise;
  color: white;
  text-align: center;
}
#content{
  padding: 10px 10px 10px 10px;
}
#nav{
  width: 180px;
  float: left;
  background-color: turquoise;
  color: white;

}
#main{
  width: 600px;
  float: right;
  color: white;
  background-color: turquoise;
}
#footer{
  clear: both;
  text-align: right;
  color: white;
}
