body {
  background: ghostwhite;
  font-family: 'Inconsolata', monospace;
  width: 1024px;
  height: auto;
  margin: auto;
  }
  h1{
    margin: auto;
    text-align: center;
    background-color: white;
    border-bottom: 50px solid ghostwhite;
  }
  /*---Ending general body style---*/
  .header {
    background-color: white;
    width: 1024px;
    margin: auto;
    overflow: auto;
    border-bottom: 50px solid ghostwhite;
  }
  .header img {
    height: 400px;
    width: 300px;
    float: left;
    margin-left: 100px;
  }
  .header h1 {
  width: 400px;
  margin-left: 524px;
  margin-top: 0px;
  height: auto;
  color: black;
  font-family: cursive;
  position: relative;
  }

  /*---Ending general heading style---*/
  .nav {
    background-color: black;
    padding: 10px;
  }
  .nav li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    background: midnightblue;
    color: white;
    border: 2px solid white;
    width: 1024px;
    padding: 10px;
  }
  .nav li a{
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  /*---Ending general menu bar style---*/
  .main {
  background-color: black;
  color: white;
  width: 984px;
  padding: 20px;
  border-bottom: 50px solid ghostwhite;
  }
  /*--introduction part style--*/

/*--Ending general part of every page--*/

  /*--Main page--*/
  .resume{
    text-align: center;
    background-color: white;
    color: black;
    width: 984px;
    opacity: 0.85;
    border: 20px solid white;
    font-family: arial;
  }
  .resume li{
    text-align: left;
    display:flex;
  }
  /*---Ending resume style of main page---*/

  /*--photography page--*/
  .image {
    text-align: center;
    color: black;
    box-sizing: border-box;
    border: 10px solid white;
    opacity: 0.85;
    background-color: white;
  }
  /*--Ending pictures style of photography page--*/

  /*--Email page--*/
  form {
    box-sizing: content-box;
    border: 17px solid white;
    color: black;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 950px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
  }
  /*--Ending form style of email page--*/
  footer {
    text-align: right;
    background-color: black;
    width: 1024px;
    color: white;
  }
